<%= provide(:title, "Home") %>

<%= content_for :home_sidebar do %>
    <nav>
      <%= link_to "Notulu", root_path, id:"logo" %>
      <ul>
        <li><%= link_to "Create account", signup_path, class:'button button_highlight' %></li>
        <li><%= link_to "Log in", login_path, id:"signin"%></li>
      </ul>
    </nav>
<% end %>

    <h1>Personal Creative Work</h1>

