<% provide(:title, 'All users') %>

<%= content_for :dashboard_sidebar do %>

    <div class="background_sidebar col-xs-12 col-sm-4 col-md-3">
      <div class="welcome_sidebar">
        <%= link_to "Notulu", current_user, id:"logo" %>
        <ul class="welcome_sidebar">
          <% if logged_in? %>
              <li><%= link_to "Discover", users_path %></li>
              <li><%= link_to "My Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li><%= link_to "Write", signup_path, class:'button button_highlight' %></li>
              <li><%= link_to "Log out", logout_path, method: "delete", id:"signin" %></li>
          <% else %>
              <li><%= link_to "Log in", login_path %></li>
          <% end %>

        </ul>
      </div>
    </div>

<% end %>

<div id="wrap_discover">
  <h1>All users</h1>
</div>

<div id="form_setting">
  <div class="row">
    <div class="form_setting col-md-8">
    <ul class="users">
      <% @users.each do |user| %>
          <li>
            <%= gravatar_for user, size: 50 %>
            <%= link_to user.name, user %>
          </li>
      <% end %>
    </ul>
    </div>
  </div>
</div>