<%= provide(:title, "Sign up") %>

<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body class="body">

<%= content_for :home_sidebar do %>
    <div id="sidebar" class="col-xs-12 col-sm-4 col-md-3">
    <nav>
      <%= link_to "Notulu", root_path, id:"logo" %>
      <ul>
        <li><%= link_to "Create account", signup_path, class:'button button_highlight' %></li>
        <li><%= link_to "Log in", login_path, id:"signin"%></li>
      </ul>
    </nav>
    </div>
<% end %>

    <h2 class="slogan3"> Create an acount  </h2>


<%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>

        <div class="row">
            <div class="field col-md-6">
              <%= f.label :name %> <br>
              <%= f.text_field :name, class:'form-control' %>

            </div>

            <div class="field col-md-6">
              <%= f.label :email %> <br>
              <%= f.email_field :email, class:'form-control' %>
            </div>

          </div>

          <div class="row">
            <div class="field col-md-6">
              <%= f.label :password %>
              <%= f.password_field :password, class:'form-control' %>
            </div>

            <div class="field col-md-6">
              <%= f.label :password_confirmation, "Password confirmation"%>
              <%= f.password_field :password_confirmation, class:'form-control' %>
            </div>
          </div>

          <div class="row">
            <div class="actions actions_signup col-md-6">
              <%= link_to "Cancel", root_path %>
              <%= f.submit "Submit", class: "button_green" %>
            </div>
          </div>
    <% end %>



</body>
</html>
