<%= provide(:title, "Register") %>

<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body class="body">


<div id="container" class="row">

  <div id="sidebar" class="col-xs-12 col-sm-4 col-md-3">
    <nav>
      <%= link_to "Notulu", root_path, id:"logo" %>
      <ul>
        <li><%= link_to "Create account", "", class:"button button_highlight"%></li>
        <li><%= link_to "Sign in", "", id:"signin"%></li>
      </ul>
    </nav>
  </div>

  <div id="background" class="col-xs-12 col-sm-8 col-md-9">
    <%= form_for(@user) do |f| %>
        <div class="row">
            <div class="field col-md-6">
              <%= f.label :name %> <br>
              <%= f.text_field :name %>
            </div>

            <div class="field col-md-6">
              <%= f.label :email %> <br>
              <%= f.email_field :email %>
            </div>

          </div>

          <div class="row">
            <div class="field col-md-6">
              <%= f.label :password %>
              <%= f.password_field :password %>
            </div>

            <div class="field col-md-6">
              <%= f.label :password_confirmation, "Password confirmation"%>
              <%= f.password_field :password_confirmation %>
            </div>
          </div>

          <div class="row">
            <div class="actions col-md-6">
              <%= link_to "Cancel", root_path %>
              <%= f.submit "Submit", class: "button_green" %>
            </div>
          </div>
    <% end %>
  </div>

</div>

</body>
</html>
