<%= provide(:title, @user.name) %>

<%= content_for :dashboard_sidebar do %>

      <div class="background_sidebar col-xs-12 col-sm-4 col-md-3">
        <div class="welcome_sidebar">
          <%= link_to "Notulu", current_user, id:"logo" %>
          <ul class="welcome_sidebar">
            <% if logged_in? %>
                <li><%= link_to "My Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li><%= link_to "Write", signup_path, class:'button button_highlight' %></li>
                <li><%= link_to "Log out", logout_path, method: "delete", id:"signin" %></li>
            <% else %>
                <li><%= link_to "Log in", login_path %></li>
            <% end %>

          </ul>
        </div>
    </div>

<% end %>

<%= content_for :content do %>


        <aside id="user_profile">
          <section class="user_info">
            <h2>
              <%= gravatar_for @user %>
              <%= @user.name %>

            </h2>
          </section>
        </aside>

    <div id="content" class="col-xs-12 col-sm-12 col-md-12">
    <div class="post">
        <p class="date">23 Sept. 2015</p>
        <h1 id="post_title"><a href="post.html">cronut lumbersexualk</a></h1>
        <p> Truffaut kogi craft beer kitsch. Organic artisan
          freegan, wayfarerscraft beercraft eercraft...
        </p>
        <hr>
      </div>
    </div>

<% end %>