<%= provide(:title, "Write") %>

<%= content_for :dashboard_sidebar do %>

    <div class="background_sidebar col-xs-12 col-sm-4 col-md-3">
      <div class="welcome_sidebar">
        <%= link_to "Notulu", current_user, id:"logo" %>
        <ul class="welcome_sidebar">
          <% if logged_in? %>
              <li><%= link_to "Discover", users_path %></li>
              <li><%= link_to "My Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li><%= link_to "Write", write_path, class:'button button_highlight' %></li>
              <li><%= link_to "Log out", logout_path, method: "delete", id:"signin" %></li>
          <% else %>
              <li><%= link_to "Log in", login_path %></li>
          <% end %>

        </ul>
      </div>
    </div>

<% end %>

<% if logged_in? %>
    <div id="content" class="col-xs-12 col-sm-12 col-md-12">

    <div class="post">
        <section class="user_info">
          <%= render 'shared/user_info' %>
        </section>
        <section class="micropost_form">
          <%= render 'shared/micropost_form' %>
        </section>
      </div>
    </div>
<% else %>
<% end %>


