<div id="sidebar" class="col-xs-12 col-sm-4 col-md-3">
<nav>
    <%= link_to "Notulu", root_path, id:"logo" %>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Create account", signup_path, class:'button button_highlight' %></li>
      <li><%= link_to "Log in", login_path, id:"signin"%></li>
    </ul>
  <div class="background_sidebar col-xs-12 col-sm-4 col-md-3">

  <ul class="welcome_sidebar">
        <% if logged_in? %>
            <li><%= link_to "My Profile", current_user %></li>
            <li><%= link_to "Settings", edit_user_path(current_user) %></li>
            <li><%= link_to "Write", signup_path, class:'button button_highlight' %></li>
            <li><%= link_to "Log out", logout_path, method: "delete", id:"signin" %></li>
        <% else %>
            <li><%= link_to "Log in", login_path %></li>
        <% end %>

      </ul>
  </nav>
</div>