<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %> </title> <!-- set to render auto | Notulu -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>

</head>
<body>

<%= yield %>
<%= debug(params) if Rails.env.development? %> <!-- allow to retursn debug display to development ENV only -->

</body>
</html>
